{% extends "layout.html" %}
{% block body %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">CS (AI & ML) Books</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTable</h6>
                            <div class="buttons float-right "> 
                                <a href="/admin_logout"> <button class = "btn btn-primary">LogOut</button></a>
                                <a href="/editBack"> <button class = "btn btn-primary">Back to edit page</button></a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Book Name</th>
                                            <th>Book Description</th>
                                            <th>Book ID</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Book Name</th>
                                            <th>Book Description</th>
                                            <th>Book ID</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for book in user %}
                                        <tr>
                                            <td>{{book.sr_no}}</td>
                                            <td>{{book.bk_name}}</td>
                                            <td>{{book.bk_des}}</td>
                                            <td>{{book.bk_id}}</td>
                                            <td> <a href="/edit_in_bk_csaiml/{{book.sr_no}}"> <button class = "btn btn-primary">Edit</button></a> </td>
                                            <td><a href="/delete/{{book.sr_no}}"></a> <button class = "btn btn-primary">Delete</button> </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}