{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
  <div
    class="jumbotron p-3 p-md-5 text-black rounded .bg-dark {background-color: #dbdce3!important;}"
    style="display: flex; flex-direction: column; align-items: center"
  >
    <div class="col-md-6 px-0">
      <h1 class="display-9 font-italic text-center">Edit Books</h1>
      <hr />
    </div>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!--                        Chemical Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="/edit_chem">Chemical Engineering</a>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        Computer Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="/edit_comp">Computer Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                       Information Technology-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">Information Technology</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        Instrumentation Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">Instrumentation Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        Mechanical Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">Mechanical Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        E & TC Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">E&TC Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        AIDS Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">AIDS Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        CSAI Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">CS (AI) Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--                        CSAIML Engineering-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class=".text-xs {font-size: 1.4rem;} font-weight-bold text-primary text-uppercase mb-1"
              >
                <a href="#">CS (AI & ML) Engineering</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
