{% extends "layout.html" %} {% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Search Result .... </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>           
                            <th>Book Name</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Book ID</th>
                            <th>Book Name</th>
                            <th>Book Description</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        {% for result in result %}
                        <tr>
                        <td>{{result['bk_name']}}</td>           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>

{% endblock %}